body {
  height: 100%;
  margin: 0;
  padding: 0;

/*   background: linear-gradient(180deg, rgba(223,223,223,1) 0%, rgba(241,241,241,1) 100%);
  background-color: rgba(241,241,241,1); */

  background-color:rgb(196, 234, 249);


/*   background-repeat: no-repeat; */
}

p, a, h1, h2, h3, pre, ul, ol, li, td, tr, table, label, form, textarea, body, input {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: rgb(16, 111, 219);
  text-decoration: none;
}

a:hover{
  color: rgb(88, 163, 248);
}

div {
  word-break: break-all;
}